
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

h2 {
    text-align: center;
}

.phrase {
    margin-right: 30px; /* Пример задания отступа между фразами */
}

.container {
    width: 570px;
    background-color: white;
    border-radius: 20px;
    height: calc(100vh - 150px); /* 100% высоты экрана минус 50px для отступов */
    overflow-y: auto; /* Добавляем вертикальную прокрутку по мере необходимости */
    padding: 20px;
    margin: 0 auto; /* Центрируем контейнер на странице */
}

.container h2 {
    background-color: #52616B;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 10px; /* Добавим немного отступа для лучшего визуального восприятия */
    margin-top: 0; /* Сбросим верхний отступ */
    text-align: center;
    color: white; /* Цвет текста */
}

.radio-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}


textarea {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color: #1E2022;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin: 0 auto; /* Центрируем кнопку на странице */
}

input[type="submit"]:hover {
    background-color: #34404C;
}

.radio-group label {
    display: inline-block;
    margin-right: 20px; /* Регулируйте это значение в зависимости от ваших предпочтений */
}