{% extends 'base.html' %}

{% block expectation %}
{% for position in status_task %}

         <div class="content_container {% if position.priority < 4 %}orange-background{% endif %}">
            <h4>Заказ №: {{ position.order }} {% if "Доработка" in position.status %}(Доработка){% endif %}</h4>

            <div class="info-section">
                <p>
                    <span class="phrase">Цех №: <strong>{{ position.workshop }}</strong></span>
                    <span class="phrase">Участок №: <strong>{{ position.area }}</strong></span>
                    <span class="phrase">Изделие: <strong>{{ position.product }}</strong></span>
                </p>
                <p>
                    <span class="phrase">Операция №: <strong>0{{ position.operation }}</strong></span>
                    <span class="phrase">Рабочий центр: <strong>{{ position.equipment }}</strong></span>
                </p>
                <p>
                    <span class="phrase">Имя операции: <strong>{{ position.operation_name }}</strong></span>
                </p>
                <p><span class="phrase">Плановое время на проверку: <strong>{{ position.value }} </strong>ч</span></p>
            </div>

            <ul class="personnel-info">
                <li>ФИО исполнителя: <strong>{{ position.worker_name }}</strong></li>
                <li>ФИО мастера: <strong>{{ position.master_name }}</strong></li>
            </ul>

            <form method="post" action="{% url 'start' %}">
                {% csrf_token %}
                <input type="hidden" name="operation" value="controller is selected">
                <input type="hidden" name="order_id" value="{{ position.id }}">
                <input type="hidden" name="user_name" value="{{ user_name }}">
                <input type="hidden" name="order_name" value="{{ position.order }}">
                <input type="hidden" name="status" value="{{ position.status }}">

                <button onclick="refreshPage()" type="submit">Принять в работу</button>
            </form>

        </div>


{% endfor %}
{% endblock %}



{% block in_work %}
{% for position in status_work %}

         <div class="content_container {% if position.priority < 4 %}orange-background{% endif %}">
            <h4>Заказ №: {{ position.order }} {% if "Доработка" in position.status %}(Доработка){% endif %}</h4>

            <div class="info-section">
                <p>
                    <span class="phrase">Цех №: <strong>{{ position.workshop }}</strong></span>
                    <span class="phrase">Участок №: <strong>{{ position.area }}</strong></span>
                    <span class="phrase">Изделие: <strong>{{ position.product }}</strong></span>
                </p>
                <p>
                    <span class="phrase">Операция №: <strong>0{{ position.operation }}</strong></span>
                    <span class="phrase">Рабочий центр: <strong>{{ position.equipment }}</strong></span>
                </p>
                <p>
                    <span class="phrase">Имя операции: <strong>{{ position.operation_name }}</strong></span>
                </p>
                <p><span class="phrase">Плановое время на проверку: <strong>{{ position.value }} </strong>ч</span></p>
            </div>

            <ul class="personnel-info">
                <li>ФИО исполнителя: <strong>{{ position.worker_name }}</strong></li>
                <li>ФИО мастера: <strong>{{ position.master_name }}</strong></li>
                <li>ФИО контроллера: <strong>{{ position.controller_name_response }}</strong></li>
            </ul>

            <p>Длительность приемки: <strong>{{position.value_fact}}</strong> ч</p>

            <form method="post" action="{% url 'result' %}">
                {% csrf_token %}
                <input type="hidden" name="operation" value="controller is worked">
                <input type="hidden" name="order_id" value="{{ position.id }}">
                <input type="hidden" name="user_name" value="{{ user_name }}">
                <input type="hidden" name="status" value="{{ position.status }}">

                <button type="submit">Принять решение</button>
            </form>

        </div>


{% endfor %}
{% endblock %}


{% block done %}
{% for position in status_done %}

         <div class="content_container {% if position.priority < 4 %}orange-background{% endif %}">
            <h4>Заказ №: {{ position.order }}   {{position.status}}</h4>

            <div class="info-section">
                <p>
                    <span class="phrase">Цех №: <strong>{{ position.workshop }}</strong></span>
                    <span class="phrase">Участок №: <strong>{{ position.area }}</strong></span>
                    <span class="phrase">Изделие: <strong>{{ position.product }}</strong></span>
                </p>
                <p>
                    <span class="phrase">Операция №: <strong>0{{ position.operation }}</strong></span>
                    <span class="phrase">Рабочий центр: <strong>{{ position.equipment }}</strong></span>
                </p>
                <p>
                    <span class="phrase">Имя операции: <strong>{{ position.operation_name }}</strong></span>
                </p>
                <p><span class="phrase">Плановое время на проверку: <strong>{{ position.value }} </strong>ч</span></p>
            </div>

            <ul class="personnel-info">
                <li>ФИО исполнителя: <strong>{{ position.worker_name }}</strong></li>
                <li>ФИО мастера: <strong>{{ position.master_name }}</strong></li>
                <li>ФИО контроллера: <strong>{{ position.controller_name_response }}</strong></li>
            </ul>

            <p>Фактическая длительность приемки: <strong>{{position.value_fact}}</strong> ч</p>

            <p>
                Решение: <strong>{{ position.decision }} ({{ position.controller_name_result }})</strong><br>
                {{ position.decision_text }}
            </p>


            <form method="post" action="{% url 'result' %}">
                {% csrf_token %}
                <input type="hidden" name="operation" value="controller is worked">
                <input type="hidden" name="order_id" value="{{ position.id }}">
                <input type="hidden" name="user_name" value="{{ user_name }}">

                <button type="submit">Редактировать решение</button>
            </form>

        </div>


{% endfor %}
{% endblock %}